.black {
    color: black !important;
}

.link:hover {
    color: black;
    text-decoration: none;
}


.btn {
    background-color: #516cf0 !important;
    width: 200px;
    height: 40px;
}

.btn:hover {
    background-color: #fe8402 !important;
    border: #fe8402 !important;
}

.navbar {
    height: 70px;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.navbar-logo {
    height: 30px;
    padding-left: 50px;
    /* Adjust as needed */
}



/* Header.css */

  